<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Finder</title>
</head>
<body>
    <header>
        <h1>Music Finder</h1>
    </header>

    <section id="form">
        <form method="post" action="/songs">
            <fieldset>
                 <legend>Filter Songs</legend>
                 <br>

                 <!-- <label for="genre">Genre: </label>
                 <input type="text" id="genre" name="genre" placeholder="Enter Genre"><br>
                 <br> -->
                 
                 <label for="location">Artist Origin: </label>
                 <input type="text" id="location" name="location" placeholder="Enter Artrist Origin"><br>
                 <br>

                 <label for="min">Minimun Number of Plays: </label>
                 <input type="number" id="min" name="min" placeholder="Min Plays"><br>
                 <br>
                 
                 <label for="max">Maximum Number of Plays: </label>
                 <input type="number" id="max" name="max" placeholder="Max Plays"><br><br>
                 <input type="submit" value="Submit">
            </fieldset>
            
       </form>
    </section>

    <!-- <section id="table">
        <table class="songtable">
            <thead>
                <tr>
                    <td>Song Name</td>
                    <td>Artist</td>
                    <td>Artist Location</td>
                    <td>Genres</td>
                    <td>Number of Plays</td>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </section> -->
    
</body>
</html>